$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
@import "../../variables";

.Overview {
  display: flex;
  flex-direction: row;
}

.columnLeft {
  margin-right: 2rem;
}

.addToWatchlist {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  margin: 0 auto;
  padding: 0;
  color: $primary;
  background: linear-gradient(90deg, $primary, $secondary);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-size: 2.1rem;
  margin-block-start: 0.83rem;
  margin-block-end: 0.28rem;
}

.poster {
  display: block;
  width: 270px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1rem;
  box-shadow: 0px 0.6rem 1rem rgba(0, 0, 0, 0.6);
  transition: all $ease-out-cubic 0.2s;
  background-image: url("./poster-placeholder.jpg");
  background-size: cover;
}

.ratings {
  display: flex;
  flex-direction: row;
  margin-block-start: 1rem;
}

.rating {
  margin-right: 3rem;
}

.synopsis {
  max-width: 35rem;
  line-height: 1.6;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
  }
  1% {
    max-height: 0px;
    overflow: hidden;
  }
  99% {
    max-height: 500px;
  }
  100% {
    overflow: visible;
  }
}
