@import "../../variables";

.Welcome {
  display: grid;
  grid-template-columns: 35vw auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  margin: 0 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    display: inline-block;
    color: $primary;
    background: linear-gradient(90deg, $primary, $secondary);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  input[type="submit"] {
    display: block;
    background: linear-gradient(90deg, $primary, $secondary);
    background-size: 200%;
    padding: 10px;
    text-decoration: none;
    color: $lighter;
    margin-top: 3rem;
    border-radius: 3px;
    transition: background-position 0.8s $ease-out-cubic;
    text-align: center;
    font-size: inherit;
    border: none;
  }
  input[type="submit"]:hover {
    background-position: 100% 0;
  }
}

.mayTheForce {
  max-height: 100vh;
  max-width: 40vw;
}
