@import "../../variables";

.Header {
  padding: 2rem 3rem;
}

.logo {
  color: $primary;
  line-height: 200%;
  font-size: 1.3rem;
  font-weight: bold;
}

.logo::before {
  content: "";
  display: inline-block;
  height: 24px;
  width: 20px;
  background: url("./logo.svg") 0 0 no-repeat;
  margin: 0 8px -5px 0;
}
